<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
		<add key="ConnectionString" value="Server=TSSBLRL210;Database=FSDBBR;User ID=sa;Password=tr3ll3b0rgfsh;Connection Timeout = 1500" />
		<add key="fstiConfig" value="M:\mfgsys\fs.cfg" />
		<add key="DateFormat" value="MM-dd-yyyy" />  	
		<add key="PrinterName" value="\\10.58.106.9\NADP05 -canon- WH"/>
		<add key="PictureBox1.Enabled" value="False" />
	</appSettings>
</configuration>
